* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* custom property */
@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes borderAnimate {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}

.box {
  max-width: 300px;
  padding-inline: 10px;
  padding-bottom: 10px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 10px;

  border-radius: 20px;
  background: linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black, rgb(255, 55, 115)) border-box;
  border: 0px solid transparent;
  animation: borderAnimate 5s infinite;
  animation-timing-function: linear;
  animation-play-state: paused;

  transition: all 0.2s ease;
}

.box:hover {
  animation-play-state: running;
  border-width: 2px;
  box-shadow: 0 0 30px rgb(255, 55, 115);
}

.box img {
  width: 100%;
}
